services:
  postgres:
    image: postgres:15
    env_file:
      - .env
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: changethis
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"
    networks:
      - default
    volumes:
      - postgres_data:/var/lib/postgresql/data
  
  cache:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - default
    volumes:
      - redis_data:/data
  
volumes:
  postgres_data:
  redis_data: