[project]
name = "api"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "fastapi-users[sqlalchemy]>=15.0.1",
    "fastapi[standard]>=0.121.3",
]
